<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Uploaded vod</title>
</head>
<body>
<div style="display: flex; align-items: start">
    <div>
        <h3>normal</h3>
        <video src="http://localhost:8081/vod/2024-05-10/ce2db293f0944fbeac3240cbb1655ddd.mp4"
               width="360px"
               height="240px"
               autoplay
               muted
               controls>
        </video>
    </div>
    <div>
        <h3>chunk</h3>
        <video src="http://localhost:8081/vod/chunk/2024-05-10/ce2db293f0944fbeac3240cbb1655ddd.mp4"
               width="360px"
               height="240px"
               autoplay
               muted
               controls>
        </video>
    </div>

</div>
</body>
</html>